<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user-layout.html}"
      lang="en">
<head>

</head>

<body>

<section layout:fragment="content">
    <h2>O stránke</h2>
    <p>Táto stránka je môj „hobby“ projekt, v ktorom spájam dve svoje záľuby, programovanie a príroda. Jadro tejto webovej app-ky ma tvoriť filter/kľuč na vyhľadávanie drevín rastúcich na Slovensku na základe ich vlastnosti.</p>

    <p>Zdrojový kód je stránky je na tomto linku: <a href="https://github.com/lukasdancak/TreeKeyApp" target="_blank">https://github.com/lukasdancak/TreeKeyApp</a>. </p>

    <p>Uvítam pripomienky k správnosti dát v databáze od ľudí so vzdelaním v tejto oblasti.</p>
</section>

</body>
</html>