<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user-layout.html}"
      lang="en">
<head>

</head>

<body>

<section layout:fragment="content">
    <h2>Úvod</h2>
    <p>Vitajte na webovej stránke venovanej drevinám Slovenska! Slovensko je domovom mnohých druhov stromov, ktoré tvoria našu bohatú prírodnú krajinu. Na tejto stránke nájdete informácie o rôznych druhoch stromov, ich vlastnostiach a využití. Chcete sa dozvedieť, aké stromy rastú v našich lesoch a aké majú vlastnosti? Naša webová stránka vám umožní vyhľadávať stromy podľa ich vlastností, ako sú napríklad:</p>

    <ul>
        <li>Habitus</li>
        <li>Rhytidome (borka)</li>
        <li>Tvar listu</li>
        <li>Typ žilnatiny</li>
        <li>Rhytidome (borka)</li>
    </ul>

        <p>Vďaka tomuto vyhľadávaniu budete mať možnosť spoznať rôzne druhy stromov a ich charakteristické vlastnosti. Okrem toho vám poskytneme aj informácie o využití drevín a ich prínose pre životné prostredie. Pripojte sa k nám a objavujte fascinujúci svet slovenských stromov! Ak máte akékoľvek otázky alebo návrhy, neváhajte nás kontaktovať. Tešíme sa na spoluprácu s vami pri tvorbe tejto stránky o drevinách Slovenska.</p>
</section>

</body>
</html>