<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user-layout.html}"
      lang="en">
<head>

</head>

<body>

<section layout:fragment="content">
    <h2 class="media-heading">Search tree - no JavaScript</h2>
    <p>This is searching form. Insert your data</p>

    <!--    formular: -->
    <form action="/searchtreesubmit" method="post">

        <!--habitus part: -->
        <label for="habitus-name">Habitus stromu:</label>
        <select class="form-control" id="habitus-name" name="habitusName">
            <option value="undefined">nedefinovane</option>
            <option th:each="habitus : ${habituses}" th:value="${habitus.habitus}"
                    th:text="${habitus.habitus}"></option>
        </select>

        <!--rhytidome part: -->

        <button type="submit">Search for tree</button>
        
    </form>

    <hr>

    <h3>Results</h3>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Latin name</th>
            <th>Slovak name</th>
            <th>Family</th>
            <th>Habitus</th>
            <th>Rhytidome</th>
            <th>Leaf blade shape</th>
            <th>Leaf veins type</th>
            <th>View button</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${allTrees.isEmpty()}">
            <td colspan="2"> No trees avaliable in database</td>
        </tr>
        <tr th:each="tree : ${allTrees}">
            <td><span th:text="${tree.latinName}"> Latin name </span></td>
            <td><span th:text="${tree.slovakName}"> Slovak name </span></td>
            <td><span th:text="${tree.familyName}"> Family </span></td>
            <td><span th:text="${tree.habitusName}"> Habitus </span></td>
            <td><span th:text="${tree.rhytidomeName}"> Habitus </span></td>
            <td><span th:text="${tree.leafBladeShapeName}"> Habitus </span></td>
            <td><span th:text="${tree.leafVeinsTypeName}"> Habitus </span></td>
            <td><a th:href="@{/tree/{treeId}(treeId=${tree.id})}" class="btn btn-primary">link</a></td>

        </tr>
        </tbody>
    </table>
</section>

</body>
</html>